.banner {
  color: white;
  height: 448px;
  object-fit: contain;
  padding: 20px;
}

.banner__contents {
  position: relative;
  z-index: 1;
}

.banner__title {
  font-size: 3rem;
  font-weight: bold;
}

.banner__buttons {
  margin-top: 20px;
}

.banner__button {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__description {
  margin-top: 20px;
  font-size: 1.2rem;
  max-width: 500px;
}

.banner--fadeBottom {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
