@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
  --primary-color: #111;
  secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background: #111;
} */
